/* Colors for vardi*/

.dancer .pink {
		background-color: #D61D5C;
}
.dancer .purple {
		background-color: #43155B;
}
.dancer .green {
		background-color: #299E27;
}
.dancer .blue {
		background-color: #078FB1;
}
.dancer .yellow {
		background-color: #F7E418;
}
.dancer .orange {
		background-color: #FF7032;
}

body {
		padding: 50px;
}
.main-content {
		padding: 40px 15px;
		text-align: center;
}

#stage-canvas {
		border: 1px solid #444;
}

.dancers-list {
		text-align: left
}
}
.add-dancer-head {

}
#addDancerGender {
		width: 100px;
}
#addDancerColor {
		width: 100px;
}
