body {
		padding: 50px;
}


.main-content {
		padding: 40px 15px;
		text-align: center;
}

#stage-canvas {
		border: 1px solid #444;
}

.dancers-list {
		text-align: left
}
.add-dancer-head {

}
#addDancerGender {
		width: 100px;
}
#addDancerColor {
		width: 100px;
}
