/* Colors for vardi*/

.dancer .pink {
		background-color: #D61D5C;
}
.dancer .purple {
		background-color: #43155B;
}
.dancer .green {
		background-color: #299E27;
}
.dancer .blue {
		background-color: #078FB1;
}
.dancer .yellow {
		background-color: #F7E418;
}
.dancer .orange {
		background-color: #FF7032;
}

body {
		padding: 50px;
}
.main-content {
		padding: 0px 15px;
		text-align: center;
}

a.glyphicon {
		color: #555;
}
a.glyphicon:hover {
		text-decoration: none;
		color: #333;
}

.display-options input[type="checkbox"] {
		float: left;
		margin-left: -20px;
}
.display-options #num-marker-input-submit {
		margin-bottom: 2px;
}

#stage-canvas {
		border: 1px solid #444;
}
.dancers-list {
		text-align: left
}

#dancers {
		max-height: 300px;
		overflow: auto;
}

#addDancerGender {
		width: 100px;
}
#addDancerColor {
		width: 100px;
}
